body {
	color: #555555 ;
	font-family: arial , sans-serif;
	font-size: 13px;
}
h1, h2, h3, h4 {
	color: #a9268d ;
	font-family: "oswald" , arial , sans-serif;
	text-align: center;
}
.list-nav {
	text-align: center;
}
.list-nav li{
	display: inline-block;
}
.list-nav a {
	display: block; 
	padding: 5px 20px;
	color: #555555;
	font-family: "oswald" , arial , sans-serif;
	text-transform: uppercase; /*para poner mayusuculas*/
	text-decoration: none;
	transition: all 0.5s;
}
.list-nav a:hover {
	text-decoration: none;
	background: #ECECEC;
	transform: scale(1.2);
}
/*end*/

.header-content {
	background: url("../images/background.jpg") center center;
	color: #fff;
	text-align: center;
	padding: 50px 0;
}
.header-content h1 {
color: #fff;
}
.about-me .biografia img {
	float: left;
	width: 200px;
	margin-right: 20px;
	border: 1px solid #515;
	padding: 5px;
}

.about-me {
	background: url("../images/tile1.png");
}